* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%; /*equivale a dividir por 10*/

}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 4rem;
}

body {
  font-family: "Righteous", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #171923;
  background-size: cover;
  font-size: 1.6rem;
  height: 100vh;
}

#gameBoard {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.banner {
  margin-top: 25px;
}
.banner > img {
  max-width: 100px;
}

.card {
  width: 9rem;
  height: 9rem;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: transform 0.5s;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card_back,
.card_front {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card_front {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background-color: #101c2c;
}

.card_back {
  color: white;
  background-color: #D5604A;
  font-size: 30px;
}

#gameOver {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  font-size: 50px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
}

#restart {
  padding: 20px;
  font-size: 20px;
  background-color: yellow;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
}

#count {
  color: white;
  font-size: 40px;
  display: flex;
  margin-left: 4rem;
  
}

.text-count{
    width: 100%;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}


@media only screen and (max-width: 700px) {
  #gameBoard {
    max-width: 400px;
    gap: 1rem !important;
  }

  #container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem ;
  }
  .card {
    width: 80px;
    height: 80px;
  }
  .icon {
    width: 70px;
  }
  .card_front,
  .card_back {
    border-radius: 10px;
  }
}
